extends ../layout

block content
  .row.clearfix
    h1.page-header=title
    - var attr = {};
    - client = (!client) ? {} : client;
    - if(client && client.id ) attr.value = client.id;

  // (client ? value=client.id : '')

  form.form-horizontal(method=action)
    fieldset
      legend Fill this form with information about your application.
      .form-group
        input(name='appId', type="hidden")&attributes(attr)
      .form-group
        label.col-lg-2.control-label(for="appName") Name
        .col-lg-10
          input#appName.form-control(name='appName',
                  type="text",
                  value=client.name || ''
                  required,
                  placeholder="Your application name",
                  minlength="2", maxlength="50"
                  pattern="[a-zA-Z0-9-_#!&]{2,50}")

          span.help-block Your application name.
            b.text-warning &nbsp; Only accepted chars : [a-zA-Z0-9-_#!&]{2,50} No spaces allowed in the name
      .form-group
        label.col-lg-2.control-label(for='appType') Select
        .col-lg-10
          select#select.form-control(required,name="appType")
            option(value="web-app") Web-server app
            option(value="browser") Browser-based app
            option(value="native") Native
            option(value="mobile") Mobile
          span.help-block What type of application are you designing ?

      .form-group
        label.col-lg-2.control-label(for="appUri") Callback URL
        .col-lg-10
          input#appUri.form-control(name="appUri",
                type="url",
                required,
                value=client.redirectUri || ''
                placeholder="Callback Redirection URL")

          span.help-block The url to be callback by the oAuth Server for your token
          .checkbox
            label
              input(type="checkbox", checked="true",name="appUseUriAsDefault",value=client.useRedirectUri || "true")
              | Use by default

      .form-group
        label.col-lg-2.control-label(for="appDescrip") Description

        .col-lg-10
          textarea#appDescrip.form-control(rows="3", name="appDescrip",maxlength='145')=client.description

          span.help-block What's your application about ? Give a little description, please ! (max: 140 chars)

      .form-group
        .col-lg-10.col-lg-offset-2
          button.btn.btn-success.btn(type="submit")=(client ? 'Save' : 'Register')

