- client = (!client) ? {} : client;
- client.createdOn = new Date(client.createdAt).toGMTString()
- console.log(Object.keys(client).toLocaleString());
- console.log(client.createdOn);
.row
  .col-sm-6.col-md-4
  .thumbnail
    if(client.logo)
      img.img-rounded(alt='Logo of '+client.name, src=client.logo, data-holder-rendered='true')
    .caption
      h3
        |App. name : &nbsp;
        span.label.label-default=client.name
      h3
        |App. created on : &nbsp;
        span.label.label-default=client.createdOn
      h3 Description
      p(style="width: 35em; overflow:hidden;text-overflow: ellipsis;white-space:nowrap;")=client.description

      h3 What this about ?
      p
        unless(client.scope)
          | #[client.name] This app want to be granted to access your data.

      hr
      if(isAuth)
        p
          form.row(action="grant"+query method="POST")
            input.form-control(name='clientId', type="hidden", value=client.id,)
            input.form-control(name='clientSecret', type="hidden", value=client.secret,)
            input.form-control(name='redirectUri', type="hidden", value=client.redirectUri)
            input.form-control(name='useRedirectUri', type="hidden", value=client.useRedirectUri)

            .col-md-4
              button.btn.btn-danger.btn-lg(type="submit" name='choice' value="no" ) Deny
            .col-md-4
              button.btn.btn-success.btn-lg(type="submit" name='choice'  value="yes") Allow

      else
        h4.text-warning Identify yourself first to allow this app.


