extends ./layout

block content
  .row.clearfix
    h1.page-header=title
    if !team
      p.lead There are no team for this app yet.
    else
      ul.clearfix
        each dev in team
          .col-sm-6.col-md-3
            .thumbnail
              img.img-rounded(src=dev.avatar alt='Avatar of '+dev.name)/
              .caption
                h3.text-center=dev.name
                p=dev.resume
                p
                  if(dev.mail)
                    a.btn.btn-default(href=dev.mail target='_blank' role="button"): i.fa.fa-at
                  if(dev.fb)
                    a.btn.btn-info(href=dev.fb target='_blank' role="button"): i.fa.fa-facebook
                  if(dev.twit)
                    a.btn.btn-primary(href=dev.twit target='_blank' role="button"): i.fa.fa-twitter
                  if(dev.lkdin)
                    a.btn.btn-success(href=dev.lkdin target='_blank' role="button"): i.fa.fa-linkedin
                  if(dev.git)
                    a.btn.btn-primary(href=dev.git target='_blank' role="button"): i.fa.fa-github-alt
