
block content
  -var requestMethod = format['requestMethod']
  .panel.panel-info
    .panel-heading
      h3.panel-title#format Format
    .panel-body
      h2=format['requestMethod'].title
      each val in format['requestMethod']['description']
        p=val
      table.table.table-hover.table-striped
        thead
          tr.active.text-center
          each head in format['requestMethod'].content.headers
              th=head
          tbody
          each row in format['requestMethod'].content.body
            tr
            each val in row
              td=val

      h2=format['responseStatusCode'].title
      each val in format['responseStatusCode']['description']
        p=val
      table.table.table-hover.table-striped
        thead
          tr.active.text-center
          each head in format['responseStatusCode'].content.headers
              th=head
          tbody
          each row in format['responseStatusCode'].content.body
            tr
            each val in row
              td=val


      h2=format['responseData'].title
      each val in format['responseData'].description
        p=val
      pre=format['responseData'].code.toString()

